:root {
  font-family: Futura, Verdana, system-ui, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  line-height: 1.5;

  /* Text Sizes */
  --text-XS: 0.6rem;
  --text-S: 0.8rem;
  --text-M: 1rem;
  --text-L: 1.4rem;
  --text-XL: 2rem;
  --text-XXL: 3rem;

  /* Base Colors */
  --color-primary: #69247c;
  --color-primary-text: #020202;
  --color-secondary: #fac67a;
  --color-secondary-text: #242424;
  --color-danger: #e74c3c;
  --color-warning: #f1c40f;
  --color-info: #1abc9c;
  --background: #242424;
  --color: #eeeeee;
  /* --color-glow: var(--color-primary); */
  --color-glow: var(--color-secondary);

  /* Spacing */
  --space-XS: 0.25rem;
  --space-S: 0.5rem;
  --space-M: 1rem;
  --space-L: 2rem;
  --space-XL: 4rem;

  /* Borders */
  --border-width: 1px;
  --border-color: hsl(0, 0%, 50%);
  --border-radius: 4px;

  /* Form Controls */
  --input-bg: #333333;
  --input-color: var(--color);
  --input-border: var(--border-width) solid var(--border-color);
  --input-padding: var(--space-S);
  --input-hover-bg: #444444;
  --input-focus-border-color: var(--color-primary);
  --input-focus-box-shadow: 0 0 0 0.2em rgba(105, 36, 124, 0.5);

  color-scheme: dark;
  color: var(--color);
  background-color: var(--background);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

#map {
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

#game,
#search {
  position: absolute;
  width: 100%;
  /* leaflets zoom and attribution layer is at z-index 1000 */
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 1rem;
  color: var(--color);
  pointer-events: none;

  & button,
  & input {
    pointer-events: auto;
  }

  & input {
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: var(--border-radius);
    color: var(--input-color);
    background-color: var(--input-bg);
    transition: border-color 0.1s ease, box-shadow 0.1s ease;

    &:focus {
      box-shadow: var(--input-focus-box-shadow);
      border-color: var(--input-focus-border-color);
      outline: none;
    }
    &:hover {
      background-color: var(--input-hover-bg);
    }
  }
}

p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  background: transparent;
  padding: var(--input-padding);
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
  user-select: none;
  --color-shadow: rgba(0, 0, 0, 0.3);
  --translate: 1rem;

  &.selected,
  &:hover {
    color: var(--color-secondary);
    text-shadow: 0 0 2px var(--color-glow), 0 0 10px var(--color-glow),
      var(--translate) var(--translate) 5px var(--color-shadow),
      var(--translate) var(--translate) 10px var(--color-shadow);
  }

  &:focus {
    outline-color: var(--color-secondary);
  }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.align-stretch {
    align-items: stretch;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.hidden {
  display: none;
}

hgroup {
  text-align: center;
}

dialog {
  padding: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out allow-discrete;
  box-shadow: none;
  background-color: #000000bb;
  border: none;
  --color-glow: var(--color-secondary);
  --color-shadow: rgba(0, 0, 0, 0.5);
  --translate: 2rem;
}

dialog:open {
  opacity: 1;
  box-shadow: 0 0 1px var(--color-glow),
    var(--translate) var(--translate) 10px var(--color-shadow),
    var(--translate) var(--translate) 20px var(--color-shadow);
}

@media (max-width: 768px) {
  dialog {
    max-width: 100%;
    max-height: 100%;
    background: #000000dd;
  }
}

@starting-style {
  dialog:open {
    opacity: 0;
  }
}

#summary {
  & main {
    gap: var(--space-M);
    padding: var(--space-M);
  }
  & table {
    border-collapse: collapse;
    & th,
    td {
      padding: var(--space-S);
      text-align: center;
    }
  }
  & #final_score {
    & strong {
      color: var(--color-secondary);
    }
  }
}

.mb-M {
  margin-bottom: var(--space-M);
}

.mt-M {
  margin-top: var(--space-M);
}

.flicker-correct {
  color: var(--color-info);
  fill-opacity: 0.8;
  animation: flicker 0.5s ease-in-out infinite;
}

.flicker-wrong {
  color: var(--color-danger);
  fill-opacity: 0.8;
  animation: flicker 0.2s ease-in-out infinite;
}

.flicker-target {
  color: var(--color-warning);
  fill-opacity: 0.8;
  animation: flicker 0.2s ease-in-out infinite;
}

@keyframes flicker {
  0% {
    fill: currentColor;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: currentColor;
  }
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-primary);
  color: var(--color-secondary-text);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero {
  position: absolute;
  z-index: 9999;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h1 {
    --font-size-min: 3rem;
    --font-size-max: 10rem;
    --font-size: clamp(var(--font-size-min), 20vw, var(--font-size-max));
    font-size: var(--font-size);
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    transform: scaleX(0.9);
    color: var(--color-primary);
    opacity: 0;
    letter-spacing: -0.1rem;
    text-shadow: none;
    user-select: none;
    animation: hover-glow 1s ease-in-out forwards;

    --color-glow: var(--color-primary);
    --color-shadow: rgba(0, 0, 0, 0.5);

    small {
      font-size: clamp(
        calc(var(--font-size) * 0.5),
        20vw,
        calc(var(--font-size) * 0.5)
      );
    }
  }

  &.hidden {
    display: none;
  }

  &.animate-out {
    --transition-duration: 0.5s;
    & h1 {
      animation: hover-glow-reverse var(--transition-duration) ease-in-out
        forwards;
    }
    & button {
      transition: opacity var(--transition-duration) ease-in-out;
      opacity: 0;
    }
  }

  a img {
    transition: all 0.2s;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --translate: 0.5rem;

    &:hover {
      filter: drop-shadow(
          var(--translate) var(--translate) 3px var(--color-shadow)
        )
        drop-shadow(var(--translate) var(--translate) 5px var(--color-shadow));
    }
  }
}

@keyframes hover-glow {
  100% {
    opacity: 1;
    text-shadow: 0 0 5px var(--color-glow), 0 0 10px var(--color-glow),
      0 0 40px var(--color-glow), 20px 20px 5px var(--color-shadow),
      20px 20px 10px var(--color-shadow);
  }
}

@keyframes hover-glow-reverse {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px var(--color-glow), 0 0 10px var(--color-glow),
      0 0 40px var(--color-glow), 20px 20px 5px var(--color-shadow),
      20px 20px 10px var(--color-shadow);
  }
  100% {
    opacity: 0;
    text-shadow: none;
  }
}

/* Add text size classes at the end of the file */
.text-S {
  font-size: var(--text-S);
}

.text-M {
  font-size: var(--text-M);
}

.text-L {
  font-size: var(--text-L);
}

.danger {
  color: var(--color-danger);
  animation: blink 0.2s linear;
}

.gap-S {
  gap: var(--space-S);
}

.gap-M {
  gap: var(--space-M);
}

#select-mode-section button {
  pointer-events: none;
  opacity: 0.4;
}

/* Show the buttons only if a .selected button exists in #select-city-section */
#select-city-section {
  button {
    opacity: 0.7;
    &.selected,
    &:hover {
      opacity: 1;
    }
  }

  &:has(button.selected) ~ #select-mode-section button {
    pointer-events: auto;
    opacity: 1;
  }
}

h1 {
  font-size: var(--text-XXL);
  font-weight: 600;
}

h2 {
  font-size: var(--text-XL);
  font-weight: 600;
}

h3 {
  font-size: var(--text-L);
  font-weight: 600;
}

dialog#progress-dialog {
  height: 20%;
  width: 80%;

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  progress {
    width: 90%;
    height: 2rem;
    accent-color: var(--color-primary);
  }
}

.bt {
  border-top: var(--border-width) solid var(--border-color);
}
.bb {
  border-bottom: var(--border-width) solid var(--border-color);
}
