:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  line-height: 1.5;

  /* Base Colors */
  --color-primary: #69247c;
  --color-primary-text: #ffffff;
  --color-secondary: #fac67a;
  --color-secondary-text: #242424;
  --color-danger: #e74c3c;
  --color-warning: #f1c40f;
  --color-info: #1abc9c;
  --background: #242424;
  --color: #eeeeee;

  /* Mao colors */
  --color-map-1: var(--color-primary);
  --color-map-2: var(--color-secondary);
  --color-map-3: #da498d;
  --color-map-4: #f9e6cf;
  /* --color-map-1: #333333; */
  /* --color-map-2: #444444; */
  /* --color-map-3: #555555; */
  /* --color-map-4: #666666; */

  /* Spacing */
  --space-XS: 0.25rem;
  --space-S: 0.5rem;
  --space-M: 1rem;
  --space-L: 2rem;
  --space-XL: 4rem;

  /* Borders */
  --border-width: 1px;
  --border-color: #555555;
  --border-radius: 4px;

  /* Form Controls */
  --input-bg: #333333;
  --input-color: var(--color);
  --input-border: var(--border-width) solid var(--border-color);
  --input-padding: var(--space-S);
  --input-hover-bg: #444444;
  --input-focus-border-color: var(--color-primary);
  --input-focus-box-shadow: 0 0 0 0.2em rgba(105, 36, 124, 0.5);

  color-scheme: dark;
  color: var(--color);
  background-color: var(--background);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#map {
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

#game {
  position: absolute;
  width: 100%;
  /* leaflets zoom layer is at z-index 1000 */
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color);

  & input {
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: var(--border-radius);
    color: var(--input-color);
    background-color: var(--input-bg);
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
    &:focus {
      box-shadow: var(--input-focus-box-shadow);
      border-color: var(--input-focus-border-color);
      outline: none;
    }
    &:hover {
      background-color: var(--input-hover-bg);
    }
  }
}

button {
  color: var(--color-secondary);
  background: transparent;
  padding: var(--input-padding);
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 currentColor, 0 0 0px currentColor, 0 0 20px currentColor;
  }

  &:focus {
    outline-color: var(--color-secondary);
  }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.align-stretch {
    align-items: stretch;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.hidden {
  display: none;
}

#summary {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out 0.5s;

  & hr {
    width: 100%;
    border: none;
    border-top: var(--border-width) solid var(--border-color);
    margin: var(--space-L) 0;
  }
  &.fade-in {
    max-height: 100vh;
  }
}

table {
  border-collapse: collapse;
  margin-top: var(--space-S);
}

th,
td {
  padding: var(--space-S);
  text-align: center;
}

.mb-M {
  margin-bottom: var(--space-M);
}

.flicker-correct {
  color: var(--color-primary);
  animation: flicker 0.2s ease-in-out infinite;
}

.flicker-wrong {
  color: var(--color-danger);
  animation: flicker 0.2s ease-in-out infinite;
}

.flicker-target {
  color: var(--color-warning);
  animation: flicker 0.2s ease-in-out infinite;
}

@keyframes flicker {
  0% {
    fill: currentColor;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: currentColor;
  }
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
  animation: blink 0.2s linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero {
  position: absolute;
  z-index: 999;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h1 {
    --color-glow: var(--color-secondary);
    --color-shadow: #000000;
    width: 100%;
    font-size: clamp(1rem, 10vw, 5rem);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    animation: hover-glow 1s ease-in-out forwards;
    color: var(--color-secondary);
  }

  &.hidden {
    & h1 {
      animation: hover-glow-reverse 1s ease-in-out forwards;
    }
    & button {
      animation: fade-out 1s ease-in-out forwards;
    }
  }
}

@keyframes hover-glow {
  0% {
    transform: translateY(20px) translateX(0px);
    opacity: 0;
    text-shadow: 0 0 1px var(--color-glow), 0 0 20px var(--color-glow),
      0 0 0px var(--color-shadow), 0 0 5px var(--color-shadow);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 20px var(--color-glow), 0 0 40px var(--color-glow),
      20px 20px 5px var(--color-shadow), 20px 20px 10px var(--color-shadow);
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes hover-glow-reverse {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px var(--color-glow), 0 0 40px var(--color-glow),
      20px 20px 5px var(--color-shadow), 20px 20px 10px var(--color-shadow);
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(20px) translateX(0px);
    opacity: 0;
    text-shadow: 0 0 1px var(--color-glow), 0 0 20px var(--color-glow),
      0 0 0px var(--color-shadow), 0 0 5px var(--color-shadow);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
